.name-desc {
	color: #2d3c49;
	text-transform: uppercase;
	text-align: right;
}

.name-desc h1 {
	margin: 1em 0 0 1.5em;
}

.name-desc h5 {
	margin-left: 2em;
}

hr {
	border-color: #2d3c49;
}

.feat-work h2 {
	color: #7d97ad;
}

.project {
	text-align: center;
}

.project h1 {
	color: #2d3c49;
}

.header-img {
	max-width: 123px;
	height: auto;
}

.equal {
	display: -webkit-flex;
	display: flex;
}

.main-content {
	margin-bottom: 2em;
}